trigger:
 branches:
   include:
     - main

pool:
 name: Self-hosted

variables:

- group: Dev-Variable
- group: Prod-Variable
- group: Qa-Variable

#  Dev Env
stages:
  - stage: DevDeploy
    displayName:  Deploy to Dev
    jobs:
    - deployment: DevJob
      environment: Dev
      strategy: 
       runOnce:
         deploy:
          steps:
            - checkout: self
            - task: TerraformInstaller@1
              displayName: install terraform
              inputs:
                terraformVersion: 'latest'
            - task: TerraformTask@5
              displayName: terraform init
              inputs:
                provider: 'azurerm'
                command: 'init'
                workingDirectory: $(Work_Dir)
                backendServiceArm: $(devServiceConnection)
                backendAzureRmOverrideSubscriptionID: 'c03f6878-4621-428c-b360-d9282cbb1a98'
                backendAzureRmResourceGroupName: $(devrgname)
                backendAzureRmStorageAccountName: $(devrgstrg)
                backendAzureRmContainerName: $(devrgcontainer)
                backendAzureRmKey: $(devrgbackkey)
            
            - task: TerraformTask@5
              displayName: terraform validate
              inputs:
                provider: 'azurerm'
                command: 'validate'
                workingDirectory: $(Work_Dir)

            - task: TerraformTask@5
              displayName: terraform plan
              inputs:
                provider: 'azurerm'
                command: 'plan'
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(devServiceConnection)

            - task: TerraformTask@5
              displayName: terraform apply
              inputs:
                provider: 'azurerm'
                command: 'apply'
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(devServiceConnection)

#  Prod Env      

  - stage: ProdDeploy
    displayName:  Deploy to Prod
    dependsOn: DevDeploy
    jobs:
    - deployment: ProdJob
      environment: Prod
      strategy: 
       runOnce:
         deploy:
          steps:
            - checkout: self
            - task: TerraformInstaller@1
              displayName: install terraform
              inputs:
                terraformVersion: 'latest'
            - task: TerraformTask@5
              displayName: terraform init
              inputs:
                provider: 'azurerm'
                command: 'init'
                workingDirectory: $(Work_Dir)
                backendServiceArm: $(prodServiceConnection)
                backendAzureRmOverrideSubscriptionID: 'c03f6878-4621-428c-b360-d9282cbb1a98'
                backendAzureRmResourceGroupName: $(prodrgname)
                backendAzureRmStorageAccountName: $(prodrgstrg)
                backendAzureRmContainerName: $(prodrgcontainer)
                backendAzureRmKey: $(prodrgbackkey)
            
            - task: TerraformTask@5
              displayName: terraform validate
              inputs:
                provider: 'azurerm'
                command: 'validate'
                workingDirectory: $(Work_Dir)

            - task: TerraformTask@5
              displayName: terraform plan
              inputs:
                provider: 'azurerm'
                command: 'plan'
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(prodServiceConnection)

            - task: TerraformTask@5
              displayName: terraform apply
              inputs:
                provider: 'azurerm'
                command: 'apply'
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(prodServiceConnection)

#  Qa Env  

  - stage: QaDeploy
    displayName:  Deploy to Qa
    dependsOn: ProdDeploy
    jobs:
    - deployment: ProdJob
      environment: Qa
      strategy: 
       runOnce:
         deploy:
          steps:
            - checkout: self
            - task: TerraformInstaller@1
              displayName: install terraform
              inputs:
                terraformVersion: 'latest'
            - task: TerraformTask@5
              displayName: terraform init
              inputs:
                provider: 'azurerm'
                command: 'init'
                workingDirectory: $(Work_Dir)
                backendServiceArm: $(qaServiceConnection)
                backendAzureRmOverrideSubscriptionID: 'c03f6878-4621-428c-b360-d9282cbb1a98'
                backendAzureRmResourceGroupName: $(qargname)
                backendAzureRmStorageAccountName: $(qargstrg)
                backendAzureRmContainerName: $(qargcontainer)
                backendAzureRmKey: $(qargbackkey)
            
            - task: TerraformTask@5
              displayName: terraform validate
              inputs:
                provider: 'azurerm'
                command: 'validate'
                workingDirectory: $(Work_Dir)

            - task: TerraformTask@5
              displayName: terraform plan
              inputs:
                provider: 'azurerm'
                command: 'plan'
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(qaServiceConnection)

            - task: TerraformTask@5
              displayName: terraform apply
              inputs:
                provider: 'azurerm'
                command: 'apply'
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(qaServiceConnection)


