trigger:
- none

pool:
  name: self-hosted

variables:
  wd: "$(System.DefaultWorkingDirectory)/Parent_Module/dev"

stages:

# ================= Build Stage =================
- stage: Build
  displayName: "Terraform Build"
  jobs:
  - job: Build
    displayName: "Terraform Build Job"
    steps:
      - checkout: self

      # Install Terraform
      - task: TerraformInstaller@1
        displayName: "Terraform install"
        inputs:
          terraformVersion: 'latest'

      # Terraform init
      - task: TerraformTask@5
        displayName: "Terraform init"
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(wd)'
          backendServiceArm: 'Self-hosted'
          backendAzureRmOverrideSubscriptionID: 'c03f6878-4621-428c-b360-d9282cbb1a98'
          backendAzureRmResourceGroupName: 'rg_strg'
          backendAzureRmStorageAccountName: 'strgfortfstate'
          backendAzureRmContainerName: 'tfstate'
          backendAzureRmKey: 'azure.tfstate'

      # Terraform validate
      - task: TerraformTask@5
        displayName: "Terraform validate"
        inputs:
          provider: 'azurerm'
          command: 'validate'
          workingDirectory: '$(wd)'
          
      # Terraform plan
      - task: TerraformTask@5
        displayName: "Terraform plan"
        inputs:
          provider: 'azurerm'
          command: 'plan'
          workingDirectory: '$(wd)'
          environmentServiceNameAzureRM: 'Self-hosted'
          environmentAzureRmOverrideSubscriptionID: 'c03f6878-4621-428c-b360-d9282cbb1a98'

# ================= Scanning Stage =================
- stage: Scanning
  displayName: "Terraform Lint & Security Scan"
  jobs:
  - job: Scanning
    displayName: "Run tflint & tfsec"
    # pool:
    #   name: self-hosted
    steps:
    - task: PowerShell@2
      displayName: "Run tflint"
      inputs:
        targetType: 'inline'
        script: |
          # Set working directory
          $tfDir = "$(wd)"
          
          # Check if directory exists
          if (-Not (Test-Path $tfDir)) {
              Write-Error "Directory $tfDir does not exist."
              exit 1
          }
          
          # Change directory
          Set-Location "$tfDir"
          
          # Run tflint
          tflint .

    - task: PowerShell@2
      displayName: "Run tfsec"
      inputs:
        targetType: 'inline'
        script: |
          # Set working directory
          $tfDir = "$(wd)"
          
          # Check if directory exists
          if (-Not (Test-Path $tfDir)) {
              Write-Error "Directory $tfDir does not exist."
              exit 1
          }
          
          # Change directory
          Set-Location "$tfDir"
          
          # Run tfsec
          tfsec .



# ================= Deploy Stage =================
- stage: Deploy
  displayName: "Terraform Deploy"
  jobs:
  - job: Deploy
    displayName: "Terraform Apply Job"
    steps:
      - checkout: self

      # Install Terraform
      - task: TerraformInstaller@1
        displayName: "Terraform install"
        inputs:
          terraformVersion: 'latest'

      # Terraform apply
      - task: TerraformTask@5
        displayName: "Terraform Apply"
        inputs:
          provider: 'azurerm'
          command: 'apply'
          workingDirectory: '$(wd)'
          environmentServiceNameAzureRM: 'Self-hosted'
