trigger:
 branches:
   include:
     - main


pool:
  name: Default

variables:
  - group: Dev
  - group: Prod
  - group: Qa



#  Dev Env
stages:
  - stage: DevDeploy
    variables:
      - group: Dev
    displayName:  Deploy to Dev
    jobs:
    - deployment: DevJob
      environment: Dev
      strategy: 
       runOnce:
         deploy:
          steps:
            - checkout: self

            # - script: |
            #     sudo apt-get update
            #     sudo apt-get install -y unzip
            #   displayName: Install unzip
            - task: TerraformInstaller@1
              displayName: install terraform
              inputs:
                terraformVersion: 'latest'
      
            - task: TerraformTask@5
              displayName: terraform init
              inputs:
                provider: 'azurerm'
                command: 'init'
                workingDirectory: $(Work_Dir)
                backendServiceArm: $(devServiceConnection)
                backendAzureRmOverrideSubscriptionID: $(SubscriptionID)
                backendAzureRmResourceGroupName: $(devrgname)
                backendAzureRmStorageAccountName: $(devrgstrg)
                backendAzureRmContainerName: $(devrgcontainer)
                backendAzureRmKey: $(devrgbackkey)
            
            - task: TerraformTask@5
              displayName: terraform validate
              inputs:
                provider: 'azurerm'
                command: 'validate'
                workingDirectory: $(Work_Dir)

            - task: TerraformTask@5
              displayName: terraform plan
              inputs:
                provider: 'azurerm'
                command: 'plan'
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(devServiceConnection)

            - task: TerraformTask@5
              displayName: terraform apply
              inputs:
                provider: 'azurerm'
                command: 'apply'
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(devServiceConnection)

#  Prod Env      

  - stage: ProdDeploy
    variables:
      - group: Prod
    displayName:  Deploy to Prod
    dependsOn: DevDeploy
    jobs:
    - deployment: ProdJob
      environment: Prod
      strategy: 
       runOnce:
         deploy:
          steps:
            - checkout: self

            # - script: |
            #     sudo apt-get update
            #     sudo apt-get install -y unzip
            #   displayName: Install unzip

            - task: TerraformInstaller@1
              displayName: install terraform
              inputs:
                terraformVersion: 'latest'
            - task: TerraformTask@5
              displayName: terraform init
              inputs:
                provider: 'azurerm'
                command: 'init'
                workingDirectory: $(Work_Dir)
                backendServiceArm: $(prodServiceConnection)
                backendAzureRmOverrideSubscriptionID: $(SubscriptionID)
                backendAzureRmResourceGroupName: $(prodrgname)
                backendAzureRmStorageAccountName: $(prodrgstrg)
                backendAzureRmContainerName: $(prodrgcontainer)
                backendAzureRmKey: $(prodrgbackkey)
            
            - task: TerraformTask@5
              displayName: terraform validate
              inputs:
                provider: 'azurerm'
                command: 'validate'
                workingDirectory: $(Work_Dir)

            - task: TerraformTask@5
              displayName: terraform plan
              inputs:
                provider: 'azurerm'
                command: 'plan'
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(prodServiceConnection)

            - task: TerraformTask@5
              displayName: terraform apply
              inputs:
                provider: 'azurerm'
                command: 'apply'
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(prodServiceConnection)

#  Qa Env  

  - stage: QaDeploy
    variables:
      - group: Qa
    displayName:  Deploy to Qa
    dependsOn: ProdDeploy
    jobs:
    - deployment: ProdJob
      environment: Qa
      strategy: 
       runOnce:
         deploy:
          steps:
            - checkout: self

            # - script: |
            #     sudo apt-get update
            #     sudo apt-get install -y unzip
            #   displayName: Install unzip
              
            - task: TerraformInstaller@1
              displayName: install terraform
              inputs:
                terraformVersion: 'latest'
            - task: TerraformTask@5
              displayName: terraform init
              inputs:
                provider: 'azurerm'
                command: 'init'
                workingDirectory: $(Work_Dir)
                backendServiceArm: $(qaServiceConnection)
                backendAzureRmOverrideSubscriptionID: $(SubscriptionID)
                backendAzureRmResourceGroupName: $(qargname)
                backendAzureRmStorageAccountName: $(qargstrg)
                backendAzureRmContainerName: $(qargcontainer)
                backendAzureRmKey: $(qargbackkey)
            
            - task: TerraformTask@5
              displayName: terraform validate
              inputs:
                provider: 'azurerm'
                command: 'validate'
                workingDirectory: $(Work_Dir)

            - task: TerraformTask@5
              displayName: terraform plan
              inputs:
                provider: 'azurerm'
                command: 'plan'
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(qaServiceConnection)

            - task: TerraformTask@5
              displayName: terraform apply
              inputs:
                provider: 'azurerm'
                command: 'apply'
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(qaServiceConnection)


